div{
    height: 100px;
    width: 100px;
    background-color: rgb(1, 91, 58);
    border:2px solid black;
}

div:hover{
    background-color: rgb(82, 238, 188);
    color: rgb(0, 0, 0);

}

div:active{
    background-color: rgb(141, 34, 78);
    color: rgb(255, 255, 255);
}